@charset "UTF-8";

div.rsv-detail-wrap  {
	width: 100%;
}
div.rsv-detail {
	padding: 10px;
}
div.rsv-detail > h3 {
	font-weight: normal;
	letter-spacing: 0.05em;
	padding: 10px;
	margin: 20px 0 15px 33px;
	border-bottom: 4px solid #47a3da;
	color: #353535;
	font-size: 1.2em;
}
div.rsv-detail > table {
	width: 95%;
	margin: 0 auto;
	border-collapse: collapse;
	boder: 4px solid #47a3da;
}
th {
	padding: 15px 0;
	background: #47a3da;
	font-weight: normal;
	color: white;
}
td {
	padding: 15px 0 15px 15px;
 	border-bottom: 1px dotted #47a3da;
}
caption {
	caption-side: bottom;
	text-align: right;
	font-size: 14px;
}
div.rsv-detail-btn-wrap {
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}
div.rsv-detail-btn-wrap > a:first-child {
	float: left;
	color: #47a3da;
}
td[colspan='2']{
	border-bottom: none;
}

















