@charset "UTF-8";

div.rsv-list-wrap {
	width: 100%;
	padding: 30px 0;
}
div.rsv-list > table {
	width: 90%;
	margin: 0 auto;
	background: skyblue;
	border-collapse: collapse;
	text-align: center;
}
th, td {
	padding: 10px;
	border-top: 1px solid #FFE08C;
	border-bottom: 1px solid #FFE08C;
}
td {
	font-size: 14px;
}
td[colspan='8'] {
	text-align: left;
}
td[rowspan="2"] {
	border-left: 1px solid #FFE08C;
}