@charset "UTF-8";

div.rsv-list-wrap {
	width: 100%;
	padding: 30px 0;
}
div.rsv-list > div.rsv-state-wrap {
	width: 90%;
	margin: 10px auto 5px;
	text-align: right;
}
div.rsv-list > div.rsv-state-wrap > select {
	padding: 2px 2px 2px 4px;
	outline: none;
}
div.rsv-list > table {
	width: 90%;
	margin: 0 auto;
	background: rgba(71, 163, 218, 0.9);
	border-collapse: collapse;
	text-align: center;
	border: 4px solid rgba(71, 163, 218, 0.9);
}
th {
	border-bottom: 3px solid #F5DBBD;
	letter-spacing: 0.05em;
	background: rgba(245,219,189,0.7);
}
th, td {
	padding: 10px;
	border-top: 1px solid #F5DBBD;
	border-bottom: 1px solid #F5DBBD;
	color: #353535;
}
div.rsv-list > table > tbody > tr > td {
	font-size: 15px;
}
div.rsv-list > table > tbody > tr:hover > td {
	background: rgba(255, 255, 255, 0.3);
}
div.rsv-list > table > tbody > tr > td > a {
	color: #FAECC5;
}
div.rsv-list > table > tbody > tr > td > a:hover {
	text-decoration: underline;
}
div.rsv-list > table > tbody > tr > td > a.aDel {
	color: #DE4F4F;
}
div.rsv-list > table > tbody > tr > td > a.aDel:hover {
	font-weight: bold;
	text-decoration: none;
}
div.rsv-list > table > tbody > tr .canceled-rsv {
	color: #4C4C4C;
}
div.rsv-list > table > tbody > tr > td > a.canceled-rsv:hover {
	font-weight: none;
	text-decoration: none;
}
