@charset "UTF-8";

/*날짜설정 파트*/
div.rsv-step-wrap {
	width: 100%;
	height: 48px;
	background: url("../../images/rsv-img/resvStep1On.gif") no-repeat center;
	padding: 65px 0 0 0;
}
div.rsv-date-top {
	height: 82px;
	background: #D1B2FF;
	padding: 50px 20px;
}
div.rsv-date-inner {
	margin: 0 auto;
}
div#rsv-hotel {
	width: 225px;
	text-align: center;
}
div.rsv-date {
	width: 19%;
	float: left;
	position: relative;
}
div.rsv-date > input.datepicker-here {
	position: absolute;
	top: 0;
	left: 0;
	height: 82px;
	border: none;
	width: 300px;
	background: #D1B2FF;
	outline: none;
	z-index: 1053529;
	opacity: 0.0;
	cursor: pointer;
}
div.rsv-date > span.ck-title {
	display: block;
	font-size: 13px;
	color: #727272;
	text-align: center;
}
div.ck-date {
	cursor: pointer;
	margin: 5px 0 0 6px;
}
div.ck-date > span.left-side {
	float: left;
	width: 50%;
	color: #555;
	margin: 4px 0 0 0;
}
input {
	background: none;
	border: none;
	outline: none;
	text-align: center;
	display: block;
}
input.rsv-year {
	font-size: 13px;
	width: 100%;
}
input.rsv-month {
	font-size: 20px;
	width: 100%;
}
input.rsv-date {
	font-size: 40px;
	width: 45%;
}
input.rsv-num {
	font-size: 40px;
	color: #000;
	width: 60px;
	text-align: right;
	margin: 5px 0 0;
}
div.rsv-person > span.left-side {
	float: left;
	width: 50%;
}
div.rsv-person > span.right-side {
	float: right;
	width: 50%;
	margin: 4px 0 0;
}
span.right-side > span.rsv-button-minus {
	display: block;
	height: 26px;
	overflow: hidden;
	line-height: 999;
	background: url("../../images/rsv-img/btnControl.gif") no-repeat scroll 0 bottom transparent;
	margin-top: -1px;
	cursor: pointer;
	background-position: 0 bottom;
}
span.right-side > span.rsv-button-plus {
	display: block;
	height: 26px;
	overflow: hidden;
	line-height: 999;
	background: url("../../images/rsv-img/btnControl.gif") no-repeat scroll 0 bottom transparent;
	margin-top: -1px;
	cursor: pointer;
	background-position: 0 0;
}
div.rsv-date:last-child{
	text-align: right;
}
button.btn-Search {
	width: 80px;
	height: 80px;
	border: none;
	background: skyblue;
	border-radius: 80px;
	color: navy;
	box-shadow: 1px 2px 3px grey;
	cursor: pointer;
	outline: none;
}

/*객실 리스트 파트*/
div.rsv-date-bottom {
}
div.rsv-result-wrap {
	width: 100%;
	clear: both;
}

div.rsv-result-title {
	width: 100%;
	height: 50px;
	background: lightgreen;
	text-align: center;
	margin: 25px 0;
}
div.rsv-result-title > span {
	font-size: 20px;
	font-weight: lighter;
	line-height: 50px;
	letter-spacing: 0.5em;
}

div.rsv-result-list-wrap {
	width: 100%;
}
h2 {
	text-align: center;
	font-weight: normal;
	padding: 50px 0;
}

/*객실 리스트*/
div.rsv-result-list-wrap {
	display: none;
}
div.rsv-result-list-wrap ul {
	width: 80%;
	margin: 50px auto 30px;
	overflow: hidden;
}
div.rsv-result-list-wrap > ul > li {
	float: left;
	width: 22%;
	margin: 10px;
	text-align: center;
	font-size: 13px;
}
div.rsv-result-list-wrap > ul > li > a > img {
	width: 100%;
	height: 118px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}
div.option-choice-wrap {
	width: 80%;
	margin: 0 auto;
	padding: 10px 0 20px;
	height: 150px;
	background: lightgreen;
	position: relative;
	display: none;
}
div.show{
	display: block;
} 
ul.result-sub-list {
	width: 100%;
	overflow: hidden;
}
ul.result-sub-list > li {
	vertical-align: middle;
	height: 40px;
	float: left;
	width: 33%;
	text-align: center;
}
ul.result-sub-list > li > label {
	float: left;
	width: 90px;
	font-size: 14px;
	line-height: 40px;
}
ul.result-sub-list > li > select {
	padding: 10px 20px 10px 10px;
	outline: none;
}
button.roomCkBtn {
	width: 60px;
	height: 100%;
	background: red;
	color: navy;
	box-shadow: 1px 2px 3px grey;
	border: none;
	outline: none;
	cursor: pointer;
}
div.available-result {
	text-align: right;
	overflow: hidden;
	margin: 50px;
}
span.available-room-amount {
	font-size: 12px;
	color: #666;
}
input[type='submit'] {
	width: 60px;
	height: 60px;
	background: skyblue;
	border-radius: 80px;
	color: navy;
	box-shadow: 1px 2px 3px grey;
	cursor: pointer;
	display: inline;
}















