@charset "UTF-8";

form {
	padding: 50px 0;
}
div.adminAlert {
	background: rgba(255,169,255,0.5);
	border: 5px solid rgba(71,163,218,0.8);
	text-align: center;
	padding: 100px 50px;
	position: fixed;
	left: 50%;
	top: 25%;
	margin-left: -606.545px;
	z-index: 33243;
}
div.adminAlert > h1 {
	font-size: 2.3em;
	font-weight: normal;
	letter-spacing: 0.15em;
	color: rgba(0,0,0,0.7);
	z-index: 3000;
}

/*날짜설정 파트*/
div.rsv-step-wrap {
	width: 100%;
	height: 48px;
	background: url("../../images/rsv-img/step1On.png") no-repeat center;
	padding: 65px 0 0 0;
}
div.rsv-date-top {
	height: 82px;
	border: rgba(245,219,189) 4px solid;
	color: white;
	padding: 50px 20px;
}
div.rsv-date-inner {
	margin: 0 auto;
}
div.rsv-date {
	width: 19%;
	float: left;
	position: relative;
}
div.rsv-date > input#pick_start {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 82px;
	border: none;
	outline: none;
	z-index: 1000;
 	opacity: 0.0; 
	cursor: pointer;
}
div.rsv-date > input#pick_end {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 82px;
	border: none;
	outline: none;
	z-index: 1000;
 	opacity: 0.0; 
	cursor: pointer;
}
div.rsv-date > span.ck-title {
	display: block;
	font-size: 13px;
	color: #727272;
	text-align: center;
}
div.ck-date {
	cursor: pointer;
	margin: 5px 0 0 6px;
}
div.ck-date > span.left-side {
	float: left;
	width: 50%;
	color: #555;
	margin: 4px 0 0 0;
}
input {
	background: none;
	border: none;
	outline: none;
	text-align: center;
	display: block;
}
input.rsv-year {
	font-size: 13px;
	width: 100%;
	color: #47a3da;
}
input.rsv-month {
	font-size: 20px;
	width: 100%;
	color: #47a3da;
}
input.rsv-date {
	font-size: 40px;
	width: 45%;
	color: #47a3da;
}
input.rsv-num {
	font-size: 40px;
	width: 60px;
	text-align: right;
	margin: 5px 0 0;
	color: #47a3da;
}
div.rsv-person > span.left-side {
	float: left;
	width: 50%;
}
div.rsv-person > span.right-side {
	float: right;
	width: 50%;
	margin: 4px 0 0;
}
span.right-side > span.rsv-button-minus {
	display: block;
	height: 26px;
	overflow: hidden;
	line-height: 999;
	background: url("../../images/rsv-img/btnControl.gif") no-repeat scroll 0 bottom transparent;
	margin-top: -1px;
	cursor: pointer;
	background-position: 0 bottom;
}
span.right-side > span.rsv-button-plus {
	display: block;
	height: 26px;
	overflow: hidden;
	line-height: 999;
	background: url("../../images/rsv-img/btnControl.gif") no-repeat scroll 0 bottom transparent;
	margin-top: -1px;
	cursor: pointer;
	background-position: 0 0;
}
div.rsv-date:last-child{
	text-align: right;
}
button.btn-Search {
	width: 80px;
	height: 80px;
	color: #47a3da;
	font-size: 17px;
	letter-spacing: 0.15em;
	border: 5px solid #47a3da;
	background: none;
	border-radius: 80px;
	box-shadow: 1px 2px 3px grey;
	cursor: pointer;
	outline: none;
}

/*객실 리스트 파트*/
div.rsv-date-bottom {
}
div.rsv-result-wrap {
	width: 100%;
	clear: both;
}

div.rsv-result-title {
	width: 100%;
	height: 50px;
	background: #b5c1db;
	text-align: center;
	margin: 25px 0;
}
div.rsv-result-title > span {
	font-size: 20px;
	font-weight: lighter;
	line-height: 50px;
	letter-spacing: 0.5em;
}

div.rsv-result-list-wrap {
	width: 100%;
}
h2 {
	text-align: center;
	font-weight: normal;
	padding: 50px 0;
}

/*객실 리스트*/
ul.ar-list {
	width: 100%;
}
ul.ar-list > li {
	height: 150px;
	padding: 37px 30px;
	border: 4px solid #47a3da;
	background: rgba(237,199,218,0.2);
	margin-bottom:-5px;
}
ul.ar-list > li.ar-rc {
	margin-top: 10px;
	overflow: hidden;
	cursor: pointer;
}
ul.ar-list > li.ar-op {
	margin-bottom: 10px;
	display: none; 
}
/*객실 정보 나오는 곳*/
li.ar-rc > div.ar-rc-img {
	float: left;
	width: 27%;
	margin: 15px 8px 15px 15px;
}
li.ar-rc > div.ar-rc-img > img {
	width: 100%;
}
li.ar-rc > div.ar-rc-type {
	float: left;
	width: 25%;
	margin: 15px 8px;
}
li.ar-rc > div.ar-rc-name {
	float: right;
	width: 36%;
	margin: 15px;
	text-align: right;
	word-break: break-all;
}
li.ar-rc > div.ar-rc-name > h1 {
	font-size: 2.8em;
	font-weight: lighter;
	letter-spacing: 0.15em;
}
/*객실 옵션 선택하는 곳*/
li.ar-op select {
	padding: 10px 30px 10px 10px;
}
li.ar-op > p.ar-ep {
	text-align: right;
	margin-right: 15px;
	font-size: 14px;
}
li.ar-op > div.ar-op1 {
	float: left;
	width: 27%;
	margin: 15px 8px 15px 15px;
	text-align: center;
}
li.ar-op > div.ar-op1 > p {
	font-size: 17px;
	background: #47a3da;
	color: white;
	padding: 9px 0;
	margin-bottom: 5px;
}
li.ar-op > div.ar-op2 {
	float: left;
	width: 27%;
	margin: 15px 8px 15px 15px;
	text-align: center;
}
li.ar-op > div.ar-op2 > p {
	font-size: 17px;
	background: #47a3da;
	color: white;
	padding: 9px 0;
	margin-bottom: 5px;
}
li.ar-op > div.ar-op-btn {
	float: right;
	width: 27%;
	margin: 15px;
	text-align: right;
	padding-right: 40px;
}
input[type='submit'] {
	width: 80px;
	height: 80px;
	background: #47a3da;
	border-radius: 80px;
	color: white;
	box-shadow: 1px 2px 3px grey;
	cursor: pointer;
	display: inline;
}















