@charset "UTF-8";

div.rsv-step-wrap {
	width: 100%;
	height: 48px;
	background: url("../../images/rsv-img/step2On.png") no-repeat center;
	padding: 65px 0 0 0;
}

div.rsv-op-content {
	overflow: hidden;
}
input[readonly='readonly'] {
	border: none;
	background: none;
	outline: none;
	cursor: default;
	text-align: right;
}
/*옵션 왼쪽*/
div.rsv-op-left {
	float: left;
	width: 75%;
}
div.rsv-left-wrap {
	width: 95%;
}
div.rsv-op-choice {
	width: 100%;
}
div.op-choice-title > p {
	width: 100%;
	height: 50px;
	background: #47a3da;
	color: white;
	line-height: 50px;	
	font-size: 18px;
}
div.op-choice-title > p > span {
	color: white;
	font-size: 14px;
	font-weight: normal;
	float: right;
	margin-right: 10px;
}
div.op-choice-list {
	width: 100%;
}
div.op-choice-list > table {
	width: 95%;
	border-collapse: collapse;
	margin: 5px auto;
}
div.op-choice-list > table td {
	padding: 15px;
}
div.op-choice-list > table td:nth-child(1) {
	width: 35%;
	font-size: 17px;
}
div.op-choice-list > table td:nth-child(2) {
	width: 13%;
	font-size: 14px;
}
div.op-choice-list > table td:nth-child(3) {
	width: 9%;
	text-align: center;
}
div.op-choice-list > table td:nth-child(3) > span {
	font-size: 17px;
}
div.op-choice-list > table td:nth-child(4) {
	width: 20%;
	text-align: center;
}
input.op-ck {
	width: 20px;
	height: 20px;
}

/*요청사항*/
div.rsv-op-request {
	width: 100%;
}
div.op-request-main > p {
	width: 100%;
	height: 50px;
	background: #47a3da;
	color: white;
	line-height: 50px;	
	font-size: 18px;
	position: relative;
}
div.op-request-sub {
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
div.op-request-sub > textarea {
	width: 90%;
	height: 70px;
	padding: 10px;
	margin: 10px;
}
div.op-request-sub > ul {
	width: 80%;
	text-align: left;
	margin: 10px 0 0px 40px;
	font-size: 14px;
}

/*정보입력*/
div.rsv-input-info {
	width: 100%;
	overflow: hidden;
}
div.rsv-input-info span.required_field {
	color: red;
}
div.input-info-title > p {
	width: 100%;
	height: 50px;
	background: #47a3da;
	color: white;
	line-height: 50px;	
	font-size: 18px;
	position: relative;
	cursor: pointer;
	z-indx: 1;
}
div.input-info-title > p > span {
	font-size: 14px;
	font-weight: normal;
	color: white;
	float: right;
	margin-right: 10px;
}

div.input-info-content {
	width: 100%;
}
div.input-info-content > table.ip-info-tb {
	float: left;
	width: 50%;
	overflow: hidden;
	margin: 10px 0;
	font-size: 14px;
	overflow: hidden;
}
td {
	padding: 10px 0px 10px 7px;
}
table.ip-info-tb > tbody > tr:first-child > td > p {
	font-weight: bold;
}
table.ip-info-tb > tbody > tr:first-child > td {
	width: 100%;
}
table.ip-info-tb > tbody > tr > td:first-child {
	width: 24%;
}
table.ip-info-tb input, table.ip-info-tb select {
	float: left;
	padding: 3px;
	margin-right: 2px;
	outline: #ccc;
}
input[name='nameKor'],input[name='mail']  {
	width: 85%;
}
input[name='firstNameEng'] {
	width: 50%;
}
input[name='lastNameEng'] {
	width: 30%;
}
input[name='tel'] {
	width: 50%;
}
input[maxlength='4'] {
	width: 15%;
}
p.cau {
	font-size: 12px;
}
/*환불*/
div.rsv-input-refund {
	width: 100%;
}
div.rsv-input-refund span.required_field {
	color: red;
}
div.rsv-input-refund > table.ip-info-tb {
	width: 50%;
}
div.rsv-input-refund > table.ip-info-tb > tbody > tr > td:first-child {
	font-size: 14px;
}

/*예약 유의사항*/
div.rsv-input-notice {
	width: 90%;
	padding: 30px 35px;
	border: 5px solid rgba(245,219,189);
	margin: 30px auto;
}
div.input-notice {
	font-size: 13px;
}
div.input-notice > p:first-child {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 20px;
}
div.input-notice > dl {
	margin-bottom: 20px;
}
div.input-notice > p:last-child {
	font-size: 12px;
}

/*유의사항*/
div.rsv-notice {
	width: 100%;
	clear: both;
}
div.notice-main > p {
	width: 100%;
	height: 50px;
	background: #47a3da;
	color: white;
	line-height: 50px;	
	font-size: 18px;
	position: relative;
}
div.notice-content {
	width: 100%;
}
div.notice-content > img {
	width: 90%;
	margin: 20px auto;
	display: block;
}

div.btn-area {
	width: 100%;
	margin-bottom: 100px;
	position: relative;
}
span.btnBack {
	background:none;
	width: 140px;
	height: 44px;
	border: 3px solid #47a3da;
	color: #47a3da;
	display: inline-block;
	float: left;
	cursor: pointer;
	line-height: 44px;
	text-align: center;
	letter-spacing: 0.15em;
}
input[type='submit'] {
	letter-spacing: 0.15em;
	border: 3px solid #47a3da;
	width: 140px;
	height: 44px;
	border: none;
	outline: none;
	display: inline-block;
	background: #47a3da;
	color: white;
	float: right;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}


/*옵션 오른쪽*/
div.rsv-op-right {
	float: right;
	width: 25%;
}
div.rsv-info-wrap {
	width: 95%;
	border: 1px solid rgb(237,199,218);
	padding: 5px;
}
div.rsv-info {
	width: 83%;
	padding: 30px 25px;
}
div.rsv-info a#aReset {
	cursor: pointer;
	float: right;
}
div.rsv-info a#aReset > span {
	font-size: 13px;
}
div.rsv-info > p {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}
div.rsv-info ul {
	width: 100%;
}
div.rsv-info li {
	width: 100%;
	font-size: 14px;
	padding: 5px 0;
	overflow: hidden;
}
div.rsv-info input {
	float: right;
	font-size: 13px;
}
div.rsv-info input.rm-info:nth-child(1) {
	width: 65%;
	text-align: center;
}
div.rsv-info input.rm-info:nth-child(2) {
	width: 15%;
	text-align: center;
}
div.rsv-info input.rm-info:nth-child(3) {
	width: 15%;
	text-align: center;
}
div.rsv-info li img {
	width: 100%;
}
div.info-content, div.rsv-room-info, div.rsv-op-total {
	border-bottom: 1px dotted #ccc;
}
ul.rsv-total-price {
	border-top: 2px solid black;
	margin-top: 5px;
}
ul.rsv-total-price > li, ul.rsv-total-price > li > input {
	font-size: 18px;
	font-weight: bold;
}













