@charset "UTF-8";

div.rsv-list {
	width: 100%;
	padding: 30px 0;
}
div.rsv-list > div.rsv-state-wrap {
	width: 97%;
	margin: 10px auto 5px;
	text-align: right;
}
div.rsv-list > div.rsv-state-wrap > select {
	padding: 2px 2px 2px 4px;
	outline: none;
}
div.rsv-list > table {
	width: 97%;
	margin: 0 auto;
	background: skyblue;
	border-collapse: collapse;
	text-align: center;
}
th, td {
	padding: 10px;
	border-top: 1px solid #FAECC5;
	border-bottom: 1px solid #FAECC5;
	font-size: 14px;
}
th {
	border-top: 4px solid #FAECC5;
	border-bottom: 4px solid #FAECC5;
}
td[colspan='8'] {
	text-align: left;
}
td[rowspan="2"] {
	border-left: 1px solid #FAECC5;
}
.tr-bottom {
	border-bottom: 3px solid #FAECC5;
}