@charset "UTF-8";

div.rsv-list {
	width: 100%;
	padding: 30px 0;
	overflow: hidden;
}
div.rsv-list > div.rsv-date-wrap {
	width: 30%;
	float: left;
	margin-left: 30px;
	margin-bottom: 5px;
}
div.rsv-list > div.rsv-date-wrap > span {
	display: block;
	font-size: 12px;
	margin-bottom: 2px;
}
div.rsv-list > div.rsv-date-wrap > span#anfruf{
	float: left;
}
div.rsv-list > div.rsv-date-wrap > input {
	padding: 5px;
	float: left;
	outline: none;
	width: 70px;
	text-align: center;
}
div.rsv-list > div.rsv-date-wrap > input:focus {
	background: rgba(255,223,36,0.3);
}
div.rsv-list > div.rsv-date-wrap > button {
	margin-left: 3px;
	padding: 5px;
	float: left;
	background: #47a3da;
	color: white;
	border: 0;
	box-shadow: 1px 1px 2px grey;
	cursor: pointer;
}
div.rsv-list > div.rsv-state-wrap {
	width: 50%;
	float: right;
	text-align: right;
	margin-top: 28px;
	margin-right: 30px;
}
div.rsv-list > div.rsv-state-wrap > select {
	padding: 2px 2px 2px 4px;
	outline: none;
}
div.rsv-list > table {
	width: 97%;
	margin: 0 auto;
	background: skyblue;
	border-collapse: collapse;
	text-align: center;
}
a#aDel {
	color: white;
}
th, td {
	padding: 10px;
	border-top: 1px solid #FAECC5;
	border-bottom: 1px solid #FAECC5;
	font-size: 14px;
}
th {
	border-top: 4px solid #FAECC5;
	border-bottom: 4px solid #FAECC5;
}
td[colspan='8'] {
	text-align: left;
}
td[rowspan="2"] {
	border-left: 1px solid #FAECC5;
}
.tr-bottom {
	border-bottom: 3px solid #FAECC5;
}
.centerAlign {
	text-align: center;
}
.canceled-rsv {
	color: red;
}