<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <tr>
			<td><img src="${pageContext.request.contextPath }/upload/${getList.picFile }"></td>
			<td>${getList.picFile }</td> 파일명
			<td>${getList.gType.gName }</td> 갤러리 분류명
			<td>${getList.roomCategory.rcName }</td> 객실 이름
			<td>
				<c:choose>
					<c:when test="${getList.picCategory == '1'}">
						작은 이미지
					</c:when>
					<c:when test="${getList.picCategory == '2'}">
						원본 이미지
					</c:when>
					<c:when test="${getList.picCategory == '3'}">
						내용 이미지
					</c:when>
				</c:choose>
			</td>
			<td>
				<button class="p_btn_delete" data-picFile="${getList.picFile }">삭제</button>
			</td>
		</tr> 
</body>
</html>