@charset "UTF-8";

div.change-pwd-wrap {
	width: 45%;
	padding: 60px 0;
	margin: 50px auto 100px;
	background: rgba(250, 236, 197, 0.8);
}
form {
	position: relative;
}
div.change-pwd-wrap > h2 {
	text-align: center;
	margin: 0 0 20px 0;
	font-weight: normal;
	letter-spacing: 0.05em;
	color: #6D7993;
}
div.change-pwd {
	width: 70%;
	margin: 0 auto;
	border-collapse: collapse;
}
div.change-pwd > p {
	margin: 20px;
	font-size: 14px;
}
div.change-pwd label {
	float: left;
	width: 120px;
	color: #6D7993;
}
div.change-pwd input {
	padding: 5px;
}
div.change-pwd p.p-btn {
	text-align: right;
}
span.error {
	color: red;
	font-size: 12px;
	display: none;
}
span.formRule {
	font-size: 11px;
	color: #8C8C8C;	
}
input[type="submit"] {
	width: 70px;
	height: 70px;
	border-radius: 50px 50px;
	background: rgba(71, 163, 218, 0.8);
	color: white;
	border: none;
	box-shadow: 1px 2px 3px gray;
}

