@charset "UTF-8";

div.mem-login-wrap {
	width: 45%;
	padding: 60px 0;
	margin: 50px auto 100px;
	background: pink;
}
form {
	position: relative;
}
div.mem-login-wrap > h2 {
	text-align: center;
	margin: 0 0 20px 0;
}
table.mem-login {
	width: 70%;
	margin: 0 auto;
	border-collapse: collapse;
}
td {
	padding: 10px;
	font-size: 14px;
}
input {
	padding: 5px;
}
table.mem-login > tbody > tr > td:first-child {
	text-align: right;
}
table.mem-login > tbody > tr > td[colspan='2'] {
	text-align: center;
}
span.error {
	color: red;
	font-size: 12px;
}
input[type="submit"] {
	width: 70px;
	height: 70px;
	border-radius: 50px 50px;
	background: yellow;
	border: none;
	box-shadow: 1px 2px 3px gray;
	position: absolute;
	right: 118px;
	top: 15px;
}