@charset "UTF-8";

div.rsv-step-wrap {
	width: 100%;
	height: 48px;
	background: url("../images/rsv-img/resvStep1On.gif") no-repeat center;
	padding: 65px 0 0 0;
}
div.rsv-date-wrap {
	width: 100%;
	height: 142px;
	background: #D1B2FF;
}
div.rsv-date-inner {
	width: 1150px;
	margin: 0 auto;
	padding: 35px 20px;
}
div#rsv-hotel {
	width: 225px;
	text-align: center;
}
div.rsv-date {
	float: left;
	margin-right: 45px;
}
div.rsv-date > span.ck-title {
	display: block;
	font-size: 13px;
	color: #727272;
	text-align: center;
}
div.ck-date > span.left-side {
	float: left;
	width: 45px;
	color: #555;
	margin: 4px 0 0 0;
}
span.rsv-year {
	font-size: 13px;
}
span.rsv-month {
	font-size: 20px;
}
span.rsv-date {
	font-size: 40px;
}
span.rsv-num {
	font-size: 40px;
	color: #000;
}
div.rsv-person > span.left-side {
	float: left;
	width: 45px;
}
div.rsv-person > span.right-side {
	float: right;
	width: 34px;
	margin: 4px 0 0;
}
span.right-side > span.rsv-button-minus {
	display: block;
	height: 26px;
	overflow: hidden;
	line-height: 999;
	background: url("../images/rsv-img/btnControl.gif") no-repeat scroll 0 bottom transparent;
	margin-top: -1px;
	cursor: pointer;
	background-position: 0 bottom;
}
span.right-side > span.rsv-button-plus {
	display: block;
	height: 26px;
	overflow: hidden;
	line-height: 999;
	background: url("../images/rsv-img/btnControl.gif") no-repeat scroll 0 bottom transparent;
	margin-top: -1px;
	cursor: pointer;
	background-position: 0 0;
}
a.btn-Search {
	background: url("../images/rsv-img/reserveStepSrch.gif") no-repeat;
	width: 160px;
	height: 50px;
	display: inline-block;
	float: right;
	margin-top: 20px;
}