@charset "UTF-8";

div.rsv-step-wrap {
	width: 100%;
	height: 48px;
	background: url("../images/rsv-img/resvStep3On.gif") no-repeat center;
	padding: 65px 0 0 0;	
}

div.rsv-input-content {
	overflow: hidden;
}
div.rsv-input-left {
	float: left;
	width: 75%;
}

/*왼쪽*/
div.input-left-wrap {
	width: 95%;
}
/*정보입력*/
div.rsv-input-info {
	width: 100%;
	background: pink;
}
div.rsv-input-info span.required_field {
	color: red;
}
div.input-info-title > p {
	width: 100%;
	height: 50px;
	background: skyblue;
	line-height: 50px;	
	font-size: 18px;
	position: relative;
	cursor: pointer;
}
div.input-info-title > p > span {
	font-size: 14px;
	font-weight: normal;
	float: right;
	margin-right: 10px;
}

div.input-info-content {
	width: 100%;
}
div.input-info-content > ul {
	width: 100%;
	overflow: hidden;
	margin: 10px 0;
}
div.input-info-content > ul > li {
	float: left;
	width: 45%;
	padding: 8px 20px 20px;
}
div.input-info-content > ul > li:first-child {
	border-right: 1px dotted #000;
}
div.input-info-content > ul > li > p:first-child {
	font-weight: bold;
	margin-bottom: 15px;
}
div.input-info-content > ul > li > p {
	padding: 10px 0;
	font-size: 13px;
}
div.input-info-content > ul > li > p > label {
	float: left;
	width: 100px;
}
div.input-info-content > ul > li > p > input,
div.input-info-content > ul > li > p > select {
	padding: 8px;
	float: left;
	margin: 2px;
}
select[name='location'] {
	
}




/*예약 유의사항*/
div.rsv-input-notice {
	width: 90%;
	padding: 30px 35px;
	border: 5px solid green;
	margin: 30px auto;
}
div.input-notice {
	font-size: 13px;
}
div.input-notice > p:first-child {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 20px;
}
div.input-notice > dl {
	margin-bottom: 20px;
}
div.input-notice > p:last-child {
	font-size: 12px;
}

/*유의사항*/
div.rsv-notice {
	width: 100%;
}
div.notice-main > p {
	width: 100%;
	height: 50px;
	background: skyblue;
	line-height: 50px;	
	font-size: 18px;
	position: relative;
	cursor: pointer;
}
div.notice-content {
	width: 100%;
}
div.notice-content > img {
	width: 90%;
	margin: 20px auto;
	display: block;
}

div.btn-area {
	width: 100%;
	margin-bottom: 100px;
}
span.btnBack {
	background: url("../images/rsv-img/btnStep2.gif") no-repeat 0 0;
	width: 140px;
	height: 44px;
	display: inline-block;
	float: left;
	cursor: pointer;
}
span.btnRsv {
	background: url("../images/rsv-img/reserveStep3BtnRsvSend.gif") no-repeat 0 0;
	width: 140px;
	height: 44px;
	display: inline-block;
	float: right;
}

/*옵션 오른쪽*/
div.rsv-op-right {
	float: right;
	width: 25%;
}
div.rsv-info-wrap {
	width: 95%;
	border: 1px solid black;
	padding: 5px;
}
div.rsv-info {
	width: 83%;
	padding: 30px 25px;
}
div.rsv-info > p {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}
div.rsv-info ul {
	width: 100%;
}
div.rsv-info li {
	width: 100%;
	font-size: 14px;
	padding: 5px 0;
}
div.rsv-info span {
	float: right;
	font-size: 13px;
}
div.rsv-info li img {
	width: 100%;
}
div.info-content, div.rsv-room-info {
	border-bottom: 1px dotted #ccc;
}
ul.rsv-total-price {
	border-top: 2px solid black;
	margin-top: 5px;
}
ul.rsv-total-price > li, ul.rsv-total-price > li > span {
	font-size: 18px;
	font-weight: bold;
}
